.progress{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    gap:1vw;
}
.progress-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: rgba(254, 254, 254, 1);
    border: 1px solid rgba(218, 227, 248, 1);
    border-radius: 8px;
    padding:0.8vw;
    width:11.8vw;
}
.Chart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1vw;
}
.Chart-header p{
    font-size: 1vw;
    font-weight: 500;
    color: rgba(11, 28, 51, 0.7);
    margin:0;
}
.progress-bar{
    width:100px;
    height:150px;
}
.dropdown{
    font-size: 1vw;
    font-weight: 500;
    border: 1px solid rgba(218, 227, 248, 1);
    border-radius: 2px;
    padding: 0.3vw 0.2vw;
}
.dropdown select{
    margin:0;
    font-size: 1vw;
    font-weight: 500;
    border: none;
    outline: none;
}

@media screen and (max-width: 800px){
    .progress-item{
        width: 20vw;
    }
    .Chart-header p{
        font-size: 2vw;
    }
    .dropdown{
        font-size: 2vw;
    }
    .dropdown select{
        font-size: 2vw;
    }
}