.Dashboard{
    padding: 1.8vh 1vw;
    display: flex;
    gap: 1.2vw;
}
.Dashboard-Left{
    width: 52%;
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
}
.Dashboard-Right{
    width:44%;
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
}

@media screen and (max-width: 800px){
    .Dashboard{
        flex-direction: column;
        gap: 1.8vw;
    }
    .Dashboard-Left{
        width: 100%;
    }
    .Dashboard-Right{
        width:95%;
    }
}